<div class="card-header">
    <div class="d-flex">
        <h4 class="my-0 font-weight-normal mr-auto">{{ widget?.widgetTitle }}</h4>
            <button (click)="refresh()" type="button" class="btn btn-outline-secondary" data-toggle="tooltip" data-placement="bottom" title="Refresh Widget">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z" />
                    <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z" />
                </svg>
            </button>
    </div>
</div>
<div class="card-body">
    <ul class="list-unstyled mt-3 mb-4" *ngIf="!isQuote && feedResponse">
        <li *ngFor="let item of feedResponse.feedItems">
            <a [href]="item?.link" target="_blank">{{ item?.title }}</a>
        </li>
    </ul>
    <figure class="text-center" *ngIf="isQuote && feedResponse">
        <blockquote class="blockquote">
            <p>{{ feedResponse.feedItems[0].description }}</p>
        </blockquote>
        <figcaption class="blockquote-footer">
            {{ feedResponse.feedItems[0].title }}, see more in <cite title="Source"><a [href]="feedResponse.feedItems[0].link" target="_blank">Brainy Quote</a></cite>
        </figcaption>
    </figure>
    <!-- Error Handling -->
    <div class="mt-3 mb-3" *ngIf="errorResponse">
        <div class="alert alert-danger" role="alert">{{ errorResponse.error_message }}</div>
    </div>
</div>