<div class="body text-center bg-light">
    <form class="form-signin" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <img class="mb-4" src="assets/img/logo_md.png" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <label for="inputUsername" class="sr-only">Email address</label>
        <input type="text" id="inputUsername" class="form-control" formControlName="username" placeholder="Username" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" formControlName="password" placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="!loginForm.valid || ip.length === 0">Sign in</button>
        <!-- Handle Errors -->
        <div class="mt-3 mb-3" *ngIf="errorResponse">
            <div class="alert alert-danger" role="alert">{{ errorResponse.error_message }}</div>
        </div>
        <p class="mt-5 mb-3 text-muted">&copy; 2021</p>
    </form>
</div>