<app-search-bar></app-search-bar>
<div class="d-flex flex-wrap">
  
  <div class="card mr-3 mb-4 shadow-sm flex-fill" *ngFor="let widget of paginatedWidgets?._embedded?.widgets">
    <app-widget-deck [widget]="widget"></app-widget-deck>
  </div>

</div>

<div class="mt-3 mb-3" *ngIf="paginatedWidgets?._embedded?.widgets?.length === 0 && !errorResponse">
  <div class="alert alert-primary" role="alert">No widgets found. You can add widgets by using Admin user.</div>
</div>

<div class="mt-3 mb-3" *ngIf="errorResponse">
    <div class="alert alert-danger" role="alert">{{ errorResponse.error_message }}</div>
</div>