<div class="jumbotron jumbotron-fluid">
    <div class="d-flex df-top justify-content-around">
      <form class="form-inline" action="http://www.google.com/search" method="get" target="_blank">
        <div class="form-group">
          <input type="text" class="form-control" name="q" placeholder="Search with Google"/>
        </div>
        <div class="form-group p-2">
          <button type="submit" class="btn btn-primary">Search</button>
        </div>
      </form>
    </div>
    <div class="d-flex df-top justify-content-end">
      <a class="text-dark" href="https://unsplash.com/photos/pmpHBkoLfCg?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink" target="_blank">Photo Credit</a>
    </div>
</div>