<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
    <a class="navbar-brand" [routerLink]="['/']" >
        <img src="assets/img/logo.png" width="32" height="32" class="d-inline-block align-top" alt="" loading="lazy">
        Feed Reader
    </a>
    <ul ngbNav #nav="ngbNav" class="navbar-nav mr-auto">
        <li ngbNavItem *ngIf="isAdmin">
          <a ngbNavLink routerLink="/manage-widgets">Manage Widgets</a>
        </li>
    </ul>
    <ul ngbNav #nav="ngbNav" class="navbar-nav">
        <li ngbNavItem>
          <a ngbNavLink (click)="logout()">Log Out</a>
        </li>
    </ul>
</nav>
